body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    font-weight: normal;
    background-color: white;
    color: black;
}

body.case {
    
    background-image: url(img/casegraphicvector.svg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 1000px;

}

body.homepage {
    
    background-image: url(img/homevector.svg);
    background-size: cover;
    background-attachment: fixed;
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  
a:hover {
    color: #0056b3;
    text-decoration: none; }

h1, h2, h3, h4, h5
.h1, .h2, .h3, .h4, .h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1, .h1 {
  font-size: 4.209rem; }

h2, .h2 {
  font-size: 3.157rem; }

h3, .h3 {
  font-size: 2.369rem; }

h4, .h4 {
  font-size: 1.777rem; }

h5, .h5 {
  font-size: 1.333rem;
}


h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1;
  font-weight: 400;
  font-family: "Cooper Black", serif;
  color: #000; }


.btn {
    background-image: url(img/normalbutton.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    border: none;
}

.btn:hover {
    background-image: url(img/hoverbutton.png);
}

.btn:active {
    background-image: url(img/clickbutton.png);
}

.navbackground {
    
    background-color: white;
    width: 100%;
}

.navbar-nav {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: white;
}

.navbar-brand {
    display: inline-block;
    width: 55%;
    padding-top: 20px;
    padding-left: 30px;
    background-color: white;
}

.nav-item {
    width: 100%;
    vertical-align: center;
    align-content: flex-end;
    background-color: white;
   
}

.greeting {
    text-align: left;
    padding-top: 100px;
    padding-left: 150px;

}

.homeimage {
    padding-top: 20px;

}

.card-body {
    border: black solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    padding: 5%;
    box-shadow: 0px 2px 8px;
    background-color: white;
}

.casestudyheader {
    
    margin-left: 15%;
    margin-top: 5%;
}

a, a:hover {
    
    color: black;
}

a:active {
    color: teal;
}

.horizontalcard {
    
    width: 25%;
    height: 100%;
    display: inline-block;
    margin-left: 6%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px lightgray;
    vertical-align: top;
}

.horizontalcardtext {
    
    width: 100%;
    text-align: center;
    padding: 10%;
}

#titlebox {
    
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 3%;
    background-color: #22676E;
    
}


.titleboxleft {
    
    width: 50%;
    display: inline-block;
    float: left;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 3%;
    color: white;
}

.titleboxright {
    
    width: 50%;
    display: inline-block;
    float: right;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    color: white;
}

.casegraphics {
    
    width: 80%;
    margin: auto;
    margin-left: 10%;
    text-align: center;
}

.inforight {
    
    width: 50%;
    display: inline-block;
    float: right;
    margin: auto;
    padding-left: 5%;
    
}

.infoleft {
    
    width: 50%;
    display: inline-block;
    float: left;
    margin: auto;
}

.clear {
    clear: both;
}


